<%- model_class = AccountLog -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:account_id) %></th>
      <th><%= model_class.human_attribute_name(:change) %></th>
      <th><%= model_class.human_attribute_name(:source) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @account_logs.each do |account_log| %>
      <tr>
        <td><%= link_to account_log.id, account_log_path(account_log) %></td>
        <td><%= account_log.user.email%></td>
        <td><%= account_log.change %></td>
        <td><%= account_log.source %></td>
        <td><%= account_log.description %></td>
        <td><%=l account_log.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_account_log_path,
            :class => 'btn btn-primary' %>
