<%- model_class = Bet -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:gamble_id) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:bet_on) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= link_to bet.id, bet_path(bet) %></td>
        <td><%= bet.gamble_id %></td>
        <td><%= bet.user.email %></td>
        <td><%= bet.bet_on.desc if bet.bet_on %></td>
        <td><%= bet.amount %></td>
        <td><%=l bet.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

