<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @rank.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @rank.user_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @rank.rank %>
</p>

<p>
  <strong>Value:</strong>
  <%= @rank.value %>
</p>

<%= link_to 'Edit', edit_rank_path(@rank) %> |
<%= link_to 'Back', ranks_path %>
