<%= form_for @game, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :date, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :date, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :host_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :host_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :guest_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :guest_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :host_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :host_score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :guest_score, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :guest_score, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :status, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                games_path, :class => 'btn' %>
  </div>
<% end %>
