<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<input type='radio' name='old-game' id='show-old-game'></input>
<input type='radio' name='old-game' id='hide-old-game' checked></input>
<table class='table table-striped game-item'>
<% @games.reverse.each do |game| %>
  <tr class="<%= 'old-game' if game.date < 1.day.ago%>">
    <td class='date w200'><%= date_view(game.date) %></td>

    <td style="text-align:center">
      <p><%= image_tag game.host.avatar.url(:thumb), :width => 50, :class =>'flag_image'%><p>
      <p class='team-name'><%= game.host.name %><p>
    </td>
    <td>
      (<%= game.balance.to_i %>)
    </td>
    <td style="text-align:center">
      <p><%= image_tag game.guest.avatar.url(:thumb), :width => 50, :class =>'flag_image'%></p>
      <p class='team-name'><%= game.guest.name %></p>
    </td>

    <td>
      <%= raw odds_view_for_game(game, current_user) %><br/>
    </td>
    <td>
    <% if game.ended?%>
      <span class='score'><%= game.host_score%></span>
      <span class='score'>:</span>
      <span class='score'><%= game.guest_score%></span>
      <span class='big-link pull-right'><%= link_to "查看", game_path(game) %></span>
    <% else %>
      <span class='big-link pull-right'><%= link_to "投注", game_path(game) %></span>
    <% end%>
    </td>
  </tr>
<% end%>
</table>
<div>
  <label class='btn pull-right' id='lb-show-old' for='show-old-game'><%=t('show_old_game')%></label>
  <label class='btn pull-right' id='lb-hide-old' for='hide-old-game'><%=t('hide_old_game')%></label>
</div>

<% if can? :create, Game %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_game_path,
    :class => 'btn btn-primary' %>
<% end%>
