<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @games.each do |game| %>
  <div class='game-item'>
    <span class='date'><%= game.date %></span>
    <%= image_tag game.host.avatar.url(:thumb), :width => 50%>
    <span>VS</span>
    <%= image_tag game.guest.avatar.url(:thumb), :width => 50 %>
    <% if game.ended?%>
      <span class='score'><%= game.host_score%></span>
      <span class='score'>:</span>
      <span class='score'><%= game.guest_score%></span>
      <span class='big-link'><%= link_to "查看", game_path(game) %></span>
    <% else %>
      <span class='big-link'><%= link_to "投注", game_path(game) %></span>
    <% end%>
  </div>
<% end%>

<% if can? :create, Game %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_game_path,
    :class => 'btn btn-primary' %>
<% end%>
