<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<input type='radio' name='old-game' id='show-old-game'></input>
<input type='radio' name='old-game' id='hide-old-game' checked></input>
<table class='table table-striped game-item'>
<% @games.reverse.each_with_index do |game, i| %>
  <tr class="<%= 'old-game' if game.date < 1.day.ago and i >= 6%>">
    <td class='date w200'><%= date_view(game.date) %></td>

    <td style="text-align:center" class='team-panel'>
      <input type='hidden' value='team<%=game.host.id%>'></input>
      <p><%= image_tag game.host.avatar.url(:thumb), :width => 50, :class =>'flag_image'%><p>
      <p class='team-name'><%= game.host.name %><p>
    </td>
    <td style="text-align:center">
      (<%= balance_view(game.balance)%>)
    </td>
    <td style="text-align:center" class='team-panel'>
      <input type='hidden' value='team<%=game.guest.id%>'></input>
      <p><%= image_tag game.guest.avatar.url(:thumb), :width => 50, :class =>'flag_image'%></p>
      <p class='team-name'><%= game.guest.name %></p>
    </td>

    <td>
      <%= raw odds_view_for_game(game, current_user) %><br/>
    </td>
    <td>
    <% if game.ended?%>
      <span class='score'><%= game.host_score%></span>
      <span class='score'>:</span>
      <span class='score'><%= game.guest_score%></span>
      <span class='big-link pull-right'><%= link_to "查看", game_path(game) %></span>
    <% else %>
      <span class='big-link pull-right'><%= link_to "投注", game_path(game) %></span>
    <% end%>
    </td>
  </tr>
<% end%>
</table>
<div class='game-summary-list'>
  <span class='summary-title pull-left'><%= t('games.journey', :locale => :zh)%></span>
  <hr/>
  <table>
  <% @games.each do |game|%>
    <% next unless game.ended?%>
    <tr class='game-summary team<%=game.host.id%> team<%=game.guest.id%>'>
      <td><span><%= game.host.name%></span></td>
      <td><span class='score'><%= game.host_score %> : <%=game.guest_score%></span></td>
      <td><span><%= game.guest.name%></span></td>
    </tr>
  <% end%>
  </table>
</div>
<div>
  <label class='btn btn-info pull-right' id='lb-show-old' for='show-old-game'><%=t('show_old_game')%></label>
  <label class='btn btn-info pull-right' id='lb-hide-old' for='hide-old-game'><%=t('hide_old_game')%></label>
</div>

<% if can? :create, Game %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
    new_game_path,
    :class => 'btn btn-primary' %>
<% end%>
<script>
  function showSummary(e){
    //console.log($(this));
    //console.log($(this).offset());
    //console.log($(this));
    //console.log("screenY:"+e.screenY+"; window height:"+$(window).height());
    //console.log($(this));
    var teamid=$(this).find("input").val()
    var this_top = $(this).offset().top;
    var panel_top = this_top + $(this).height();
    var left = $(this).offset().left+100;

    $(".game-summary-list .game-summary").hide();
    $(".game-summary-list ."+teamid).show();
    var panel_height = $(".game-summary-list").height();
    if(e.screenY+ panel_height > $(window).height())
    {
      panel_top = this_top - panel_height - 10;
    }
    //console.log("this_top:"+this_top+";left:"+left+";panel_top:"+panel_top+";panel_height:"+panel_height);

    $(".game-summary-list").fadeIn();
    $(".game-summary-list").offset({top:panel_top, left: left});
    //console.log($(".game-summary-list").offset());
  };

  function hideSummary(){
    $(".game-summary-list").hide();
  }

  $(".team-panel").hoverIntent(showSummary, hideSummary);
  $(window).click(function(){
    $(".game-summary-list").hide();
  });
  $(".game-summary-list").hover(function(){
    $(this).hide();
  });
</script>
