<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<% @games.each do |game| %>
  <div>
    <%= image_tag game.host.avatar.url(:thumb) %>
    <span>VS</span>
    <%= image_tag game.guest.avatar.url(:thumb) %>
    <span><%= link_to "Guess", game_path(game) %></span>
  </div>
<% end%>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_game_path,
            :class => 'btn btn-primary' %>
