<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

  <dl class="dl-horizontal">
    <dd><%= @game.date %></dd>
  </dl>
  <dl class="dl-horizontal">
    <dd><%= @game.readable_status%></dd>
  </dl>

  <div class='game-summary center-box'>
    <%= image_tag @game.host.avatar.url(:thumb), :class => 'flag_image' %>
    <span>(<%=balance_view(@game.balance)%>)</span>
    <%= image_tag @game.guest.avatar.url(:thumb), :class => 'flag_image'%>
  </div>

  <%if @game.ended?%>
    <div class='center-box'>
      <span class='score'><%= @game.host_score%></span>
      <span class='score'>:</span>
      <span class='score'><%= @game.guest_score%></span>
    </div>
  <% end%>

  <div class='game-bet center-box'>
    <div width="100px">
      <% @bet = Bet.new %>
      <table class='bet-table'>
      
        <tr>
        
      <% @game.gamble_items.each do |gamble_item| %>
        <td>
        <% me = current_user %>
        <%@my_bet = me.has_bet_on?(gamble_item) if me%>
        <%= form_for @bet, :html => { :id => 'form_host_win', :class => 'bet-form'} do |f| %>
          <%= f.hidden_field :game_id, :value => @game.id %>
          <%= f.hidden_field :gamble_id, :value => @gamble.id %>
          <%= f.hidden_field :gamble_item_id, :value => gamble_item.id%>
          <div class='bet-field'>
          <%= f.number_field :amount, :class=> 'bet-box', :value => default_bet_chips(me)%>
          <%= button_tag gamble_item.desc,
            data: {confirm: "Are you sure to bet on #{gamble_item.desc}?"}, class: "btn bet-button #{'btn-primary' if me and me.has_bet_on?(gamble_item)}" %>

          </div>
        <% end%>
        <br>
        <%if(@my_bet) %>
          <%= t('games.you_have_bet', :locale => :zh)%> <span class='mybet'><%= @my_bet.amount%></span>
          <% if @game.betable? %> 
          <%= link_to(
                       bet_path(@my_bet, :origin=> game_path(@game)),
              :method => 'delete',
              :data => { :confirm => t('games.delete_bet_confirm', :locale => :zh)},
              :class => 'danger') do%>
                <i class='fa fa-trash-o'></i>
              <% end %>
            <% end%>

          <% end%>
      </td>
      <% end%>

        </tr>
      </table>
    </div>
  </div>

  <hr></hr>
  <%= render :partial => "comments", :locals => {game: @game}%>

<div class="">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              games_path, :class => 'btn'  %>
  <% if can? :update, @game%>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
      edit_game_path(@game), :class => 'btn' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
        game_path(@game),
        :method => 'delete',
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
        :class => 'btn btn-danger' %>
  <% end %>
</div>
