<%- model_class = Game -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

  <dl class="dl-horizontal">
    <dd><%= @game.date %></dd>
  </dl>

  <div class='game-summary center-box'>
    <%= image_tag @game.host.avatar.url(:thumb) %>
    <span><%= @game.balance %></span>
    <%= image_tag @game.guest.avatar.url(:thumb) %>
  </div>

  <div class='game-bet center-box'>
    <div width="100px">
      <% @bet = Bet.new %>
      <%= form_for @bet, :html => { :id => 'form_host_win', :class => 'bet-form'} do |f| %>
        <%= f.hidden_field :game_id, :value => @game.id %>
        <%= f.hidden_field :wager_on, :value => @game.bet_id_for_host %>
        <%= f.hidden_field :amount, :value => 1 %>
        <%= button_tag "#{@game.host.name} Win #{@game.host_odds}",
          data: {confirm: "Are you sure to bet on #{@game.host.name}?"}, class: 'btn bet-button' %>
      <% end %>
      <%= form_for @bet, :html => { :id => 'form_guest_win', :class => 'bet-form'} do |f| %>
        <%= f.hidden_field :game_id, :value => @game.id %>
        <%= f.hidden_field :wager_on, :value => @game.bet_id_for_guest %>
        <%= f.hidden_field :amount, :value => 1 %>
        <%= button_tag "#{@game.guest.name} Win #{@game.guest_odds}",
          data: {confirm: "Are you sure to bet on #{@game.guest.name}?"}, class: 'btn bet-button' %>
      <% end %>

    </div>
  </div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              games_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_game_path(@game), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              game_path(@game),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
