
<% top_list,my_rank, my_number = User.send(method, top_count, me) %>
<ul class="nav nav-list">
  <% top_list.each_with_index do|item,i| %>
    <!-- data[0] is user, data[1] is the sorted number-->
    <% user = item[:user]%>
    <% number = item[:number]%>
    <% if formatter%>
      <% number = self.send(formatter, number)%>
    <% end%>
    <li class='<%="myself" if user == me%>'><%= "#{i+1}. #{username_view(user.email)} " %><span class='pull-right'><%= number%></span></li>
  <% end%>
  <% if my_rank and my_rank > top_count - 1 %>
      <% my_number = self.send(formatter, my_number)%>
    <li class='myself'><%= "#{my_rank+1}. #{username_view(me.email)} " %><span class='pull-right'><%= my_number%></span> </li>
  <% end%>
</ul>
